.listRow{
    color: black;
    font-family: "F1Font";
}

.raceTitle {
    font-size: 1.5em;
}
.icon.enabled {
    color: green;
}
.icon.disabled {
    color: red;
}

.listBody{
    padding: 0em 1em  
}
.raceDetails{
    display: flex;
    flex-direction: column;
    padding-left: 1em;
}