.listRow{
    color: black;
    font-family: "F1Font";
}

.nextRace {
    background-color: aqua;
}
.icon.enabled {
    color: green;
}
.icon.disabled {
    color: red;
}

.listBody{
    padding: 0em 1em  
}
.raceDetails{
    display: flex;
    flex-direction: column;
}