.pageContainer {
  background-color: #ffffff;
  padding: 1em;
  font-family: "F1Font";
  color: black;
}
.title {
  font-size: 2em;
  text-emphasis: bold;
}
.subTitle {
  font-size: 1.5em;
}

.currentRound {
  overflow-x: auto;
}
.rowHeader {
  display: flex;
  justify-content: space-between;
}
