.dataContainer {
  display: flex;
  flex-direction: column;
  padding: 0.2em 0.2em;
}
.upper {
  font-size: 1.2em;
  font-family: "F1Font-wide";
}
.bolded {
  color: white;
  background-color: black;
  border-radius: 9px;
  width: max-content;
  padding: 0.1px 1em;
  font-size: 0.8em;
  font-family: "F1Font-wide";
}
