.raceContainer {
  background-color: #8f8f8f;
  width: 100%;
  min-height: 15em;
  display: flex;
  flex-direction: column;
  padding: 1em;
}
.upNext {
  font-size: larger;
  color: red;
}
.nextRaceHeader {
  display: flex;
  flex-flow: row;
  cursor: pointer;
  border-radius: 10px;
}
.nextRaceHeaderInfo {
  display: flex;
  flex-flow: row;
}
.nextRaceInfo {
  display: flex;
  flex-flow: column;
}
.raceName {
  font-family: "F1Font-bold";
  font-size: 1.5em;
}
.season {
  font-family: "F1Font-wide";
  font-size: 0.8em;
}
.headerDownIcon{
  width: 2em;
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  margin-right: 0.1em;
  color: white;
}