.ui.segment {
    margin: 0em !important; 
    border-radius: 0em !important;
}
.ui.container{
    margin-right: 0em !important;
}
@font-face {
    font-family: 'F1Font';
    src: local('F1Font'), url(fonts/Formula1-Regular.ttf) format('woff');
  }
