
.header{
    color: red;
    font-family: "F1Font";
}
.headerImage{
    height: auto;
    width: 3em;
}
.navBar{
    padding: 0px !important;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
}